.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.filter {
  background-color: antiquewhite;
  width: 100%;
  min-width: 1000px;
  padding: 5px 0px;
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.filter-item {
  width: fit-content;
  background-color: rgb(207, 203, 203);
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  border-radius: 6px;
  gap: 4;
}
.table-container {
  width: 80vw;
  min-width: 1000px;
}
.filter_text {
  font-weight: 600;
  font-size: 20px;
}
table,
th,
td {
  border: 1px solid rgb(146, 132, 132);
  border-collapse: collapse;
}
table {
  width: 100%;
  margin-bottom: 20px;
}
td {
  padding: 5px 10px;
}
th {
  background-color: antiquewhite;
}
tr {
  cursor: pointer;
}
